<html>
	<head>
		<title></title>
	</head>
<body>

<p>Dear $firstName,</p>
<br />

<p>Your password has been reset as   $password . Kindly use new password to login into your account.</p>

<br />
	
Thanks,<br /><br />

Wiley Administrator  <br />
John Wiley & Sons, Inc. <br />
e-Bulk Book System
	
</body>
</html>	

